* {
    padding: 0;
    margin: 0;
}
section{
    padding-bottom: 50px;
}
.max-w {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 152px;
    padding-right: 28px;
}

.find-button {
    text-align: center;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;

    }

.find-button button{
        background-color: hwb(28 16% 39% / 0.536);
        padding:10px 40px;
        color: rgb(8, 5, 5);
        border-radius: 0px;
        margin-bottom: 10px;
        margin-top:30px ;
        
    }
.text-center{
    text-align: center;
}

.my-1{
    margin-top: 4px;
    margin-bottom: 4px;
}

.my-2{
    margin-top: 8px;
    margin-bottom: 8px;
}

li, ul, ol {
    list-style-type: none;
}

/* Nav */

nav {
    padding: 14px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .1);
    margin-bottom: 2px;
}

nav .wrapper-left, nav .wrapper-right {
    align-items: center;
    display: flex;

}

nav .wrapper-left ul, nav .wrapper-right ul {
    display: flex;
    align-items: center;

    margin-left: 10px

}

nav .wrapper-left ul li, nav .wrapper-right ul li {
    margin: 0 10px;
}


/* Main */

main .banner-1{
    background-image: url("https://scontent.fdac8-1.fna.fbcdn.net/v/t1.15752-9/285731206_455695495914125_3482268909404702523_n.png?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHpa1EDP8OfP1Z6O7PUza7U8J-5ItsO7aTwn7ki2w7tpGuHCw-xU3_vbn4L7-3Zlw5bvMStJygud1LVEpybDdYl&_nc_ohc=5C_fbsot_qsAX_bZLIK&tn=YtC9RgbV0MezS2ii&_nc_ht=scontent.fdac8-1.fna&oh=03_AVIzoVsrw8lLJT8tprjvSnN0B1i4AnZHijjJjk70xkHfTQ&oe=62E963E2");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    position: relative;
    z-index: 100;
    text-align: full;
}

main .banner-2{
    min-height: 60vh;
    background-image: url("https://scontent.fdac8-1.fna.fbcdn.net/v/t1.15752-9/283941161_380953620590643_6092940304310860042_n.png?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeETM5zF2yed6ai1SVMZrB_nZ0A-pTzpTv9nQD6lPOlO_9vDqnGDevXvDxgRM8DlRDV9uHf_RWb3aifD06iuqmkR&_nc_ohc=rIpIOvmlgXQAX9cM9Rc&_nc_ht=scontent.fdac8-1.fna&oh=03_AVJiqGlZz5iRvRC-TXJkVdMiMJVa-deTEMhW-MPKTv19Zg&oe=62E90A72");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.card-group{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    border-radius: 6px;
    box-shadow: 0 0 14px 0 rgba(52, 51, 51, 0.1);
    min-height: 50px;
    min-width: 300px;
}

.card-no-shadow{
    min-height: 200px;
    min-width: 300px;
}

.card-image img{
    width: 100%;
    height: 200px;
}
/* new css*/
.text h3{
    margin-bottom: 50px;
}
.img-input{
    width: 100%;
    display: flex;
    
    margin-top: 40px;
}
.bg-color{
    background-color: #f8f7f5;
    padding: 20px;
}
.input-contain input{
 margin: 10px;
 padding:10px 25px;
 background-color: rgb(255, 255, 255);
 border: none;
 box-shadow: 7px 10px 20px #ddd;
}
footer{
    background-color: #284525;
}
.f-img{
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
    transform: translateX(400px);

}
.footer-img{
    text-align: center;
}
.f-img img{
    height: 150px;
    margin-bottom: 100px
}
.all-policy{
    text-align: center;
    width: 100%;
    display: flex;
    padding: 10px;
}
.all-policy ul li{
    list-style: none;
    text-align: center;

}
.all-policy ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.contact strong{
    color: rgb(0, 0, 0);
}
.contact span{
    color: rgb(255, 255, 255);
}
.first{
    width: 250px;
    padding-right: 25px;
    padding-left: 20px;
}
.icon  img{
width: 50px;
height: 50px;
margin-bottom: 10px;
}